@model netmvc.Models.entity.TBL_URUNLER
@{
    ViewBag.Title = "urungetir";
    Layout = "~/Views/Shared/_mainlayoutornek.cshtml";
}

@using (Html.BeginForm("güncelle", "ürün", FormMethod.Post))
{
<div class="form-group">
    @Html.LabelFor(m => m.URUNID)
    @Html.TextBoxFor(m => m.URUNID, new { @class = "form-control" })
    <br />
    @Html.LabelFor(m => m.URUNAD)
    @Html.TextBoxFor(m => m.URUNAD, new { @class = "form-control" })
    <br />
    @Html.LabelFor(m => m.URUNKATEGORI)
    @Html.DropDownListFor(m=>m.TBL_KATEGORI.KATEGORIID,(List<SelectListItem>)ViewBag.dgr, new { @class = "form-control" })

    @*@Html.TextBoxFor(m => m.URUNKATEGORI, new { @class = "form-control" })*@
    <br />
    @Html.LabelFor(m => m.FIYAT)
    @Html.TextBoxFor(m => m.URUNKATEGORI, new { @class = "form-control" })
    <br />
    @Html.LabelFor(m => m.MARKA)
    @Html.TextBoxFor(m => m.URUNKATEGORI, new { @class = "form-control" })
    <br />
    @Html.LabelFor(m => m.STOK)
    @Html.TextBoxFor(m => m.URUNKATEGORI, new { @class = "form-control" })
    <br />

</div>
    <div>
        <button class="btn btn-warning">ürün güncelle</button>
    </div>
}

